.myfooter {
position: fixed;
width: 100%;
bottom: 0;
background:#3f51b5;
height: 150px;
color: white;
/*margin-top: -21px;*/
}

.footer-container {
display: flex;
width: 100%;
height: 100%;
align-items: center;
justify-content: center;
}

.footer-item1 {
flex-grow: 1;
text-align: left;
}
.footer-item2 {
flex-grow: 1;
text-align: center;
height: 54px;
justify-content: center;
}
.footer-item3 {
flex-grow: 1;
text-align: right;
height: 54px;
}

.myspan {
  align-self: center;
}
