<footer fxFlex class="myfooter" color="primary">
<div class="footer_data">

  <div class="contact">
    <div class="left-column">
      <span class="address"><strong>Address:</strong></span>
        <span style="margin-left: 20px;"><strong>Lehrstuhl III, Angewandte Mathematik und Numerik</strong><br>
        <div>
          <span style="margin-left: 82px;">
            Technische Universität Dortmund<br>
          <span style="margin-left: 82px;">
            Vogelpothsweg 87<br>
          </span>
          <span style="margin-left: 82px;">
            44227 Dortmund
          </span>
          </span>
        </div>  
        
      </span>
  
      <span class="phone">
        <strong>Phone:</strong> <span style="margin-left: 34px;">+49-231-755-3076</span><br>
        <strong>Fax:</strong> <span style="margin-left: 53px;">+49-231-755-5933</span><br>
        <strong>Email:</strong> <span style="margin-left: 40px;"><a href="http://www.mathematik.tu-dortmund.de/email.php?u=featflow&d=featflow.de">FeatFlow.de</a>
        </span></span><br>
    </div>

    <div class="right-column">
      <span class="phone">
        <strong>Secretaries:</strong> <span style="margin-left: 20px;">Alrun Lamprecht,</span><br>
        <span style="margin-left: 100px;">Susanne Drees</span><br>
        <strong>Phone:</strong> <span style="margin-left: 52px;">+49-231-755-6840,</span><br> 
        <span style="margin-left: 100px;">+49-231-755-3076</span><br>
        <strong>Email:</strong> <span style="margin-left: 60px;"><a href="http://www.mathematik.tu-dortmund.de/email.php?u=alrun.lamprecht&d=math.tu-dortmund.de">Alrun Lamprecht</a></span><br> 
        <span style="margin-left: 102px;"><a href="http://www.mathematik.tu-dortmund.de/email.php?u=susanne.drees&d=math.tu-dortmund.de">Susanne Drees</a></span>
      </span>
    </div>
  </div>



  

<div class="footer-container">
<div class="footer-item1">
    <img src="/assets/ff-logo-4.png" alt="logo" width="50">
</div>
<div class="footer-item2">
  <div class="myspan">
  FeatFloWer Version 0.1
  </div>
</div>
<div class="footer-item3">The FeatFloWer Team ©2022-Now</div>
</div>
</div>
</footer>
