<mat-toolbar class="myfixed">
  <mat-toolbar-row>
    <nav class="nav-content">
      <button *ngIf="(isHandset$ | async)" mat-icon-button (click)="toggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
      <a routerLink="/"
        mat-button>
        <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
      </a>
      <a routerLink="/benchmarks"
         routerLinkActive="mat-active"
         mat-button
         class="hide-small">Benchmarks</a>
      <!---
      <a href="#"
        routerLinkActive="mat-active"
        mat-button
        class="hide-small">Gallery</a>
      <a href="#"
        routerLinkActive="mat-active"
        mat-button
        class="hide-small">Guides</a>
      -->
      <div class="flex-spacer"></div>
      <app-theme-switcher></app-theme-switcher>
      <!--
       <a href="#" mat-button>
        <mat-icon aria-hidden="false" aria-label="Example home icon">account_box</mat-icon>
        Login
      </a>
      -->
    </nav>
  </mat-toolbar-row>
  <mat-toolbar-row class="show-small">
    <nav class="nav-small">
      <a href="#" mat-button class="small-link">Benchmarks</a>
      <a href="#" mat-button class="small-link">Gallery</a>
      <a href="#" mat-button class="small-link">Guides</a>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>
