.show-small {
  display: none
}

.myfixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

mat-toolbar {
  padding: 0px;
  box-shadow: 0 3px 5px -1px #0003,
  0 6px 10px #00000024, 0 1px 18px #0000001f;
}

.nav-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;
}

.flex-spacer {
  flex-grow: 1;
}

a:hover {
  background: rgba(0,0,0,0.4);
}

.mat-active {
  background: rgba(0,0,0,0.2);
}

a[routerlink] {
  display: flex;
}
