<div class="plot-wrapper">
  <app-base-plot 
    [data]="currentData"
    [layout]="layout"
    [useResizeHandler]="false">
  </app-base-plot>
  
  <div class="plot-section">
    <span>
      <mat-radio-group [(ngModel)]="selectedLevel" (change)="changeLevel($event)">
        <mat-radio-button 
          *ngFor="let level of levels; let i = index" 
          class="plot-margin" 
          [value]="i">
          Level {{i + 1}}
        </mat-radio-button>
      </mat-radio-group>
    </span>  
  </div>
</div>