::ng-deep .mat-tab-label {
  flex: 1;
}

.heading-wrapper {
  text-align: center;
}

.im-div {
  text-align: center;
}

.text-wrapper {
  padding: 20px 10px 10px 10px;
}

.table-wrapper {
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
table {
  width: 100%;
}
