<div class="plot-wrapper">
<plotly-plot
  [data]="graph3.data"
  [layout]="graph3.layout"
  [useResizeHandler]="false"
></plotly-plot>
<div class="plot-section">
  <span>
  <mat-checkbox id="0" class="plot-margin" [(ngModel)]="showTimeStepG1[0]" (change)="g3change($event)">dt=1.0E-3</mat-checkbox>
  <mat-checkbox id="1" class="plot-margin" [(ngModel)]="showTimeStepG1[1]" (change)="g3change($event)">dt=0.25E-3</mat-checkbox>
  <mat-checkbox id="2" class="plot-margin" [(ngModel)]="showTimeStepG1[2]" (change)="g3change($event)">dt=0.0625E-3</mat-checkbox>
  <mat-checkbox id="3" class="plot-margin" [(ngModel)]="showTimeStepG1[3]" (change)="g3change($event)">dt=0.0156E-3</mat-checkbox>
  </span>
</div>
<div class="plot-section">
  <span>
    <mat-radio-group [(ngModel)]="selectedLevel" (change)="changeLevel($event)">
      <mat-radio-button *ngFor="let level of graph.data; let i = index" class="plot-margin" [value]="i">Level {{i + 2}}</mat-radio-button>
    </mat-radio-group>
  </span>  
  </div>
</div>
