
.zero-bottom {
  margin-bottom: 0px;
}

.main-header {
width: 100%;
background: var(--primary-color);
color: var(--text-on-primary);
height: 420px;
position: relative;
}

.main-header:before {
  position: absolute;
  content: "";
  background-image: url("/assets/ff-logo-4.png");
  background-size: 300px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: 65% 20px;
  opacity: .2;
}

.main-header-section {
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.main-header-headline {
  text-align: center;
}


/* Main page configuration */

.main-page {
width: 55%;
background: var(--background-color);
color: var(--text-primary);
display: flex;
flex-direction: column;
padding: 16px;
margin: auto;
align-items: center;
}

.main-elem-row {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin: 50px 0;
  gap: 5%;
}

.main-elem-col {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
}

mat-divider {
  width: 100%;
  margin-bottom: 20px;
}

.image-container {
  max-height: 200px;
}

.logo-container {
  max-height: 64px;
}
