<div fxFlex class="main-content">
  <div class="main-header">
    <div class="main-header-section">
      <div class="main-header-headline">
      <h1 class="mat-h1">
        FeatFloWer
      </h1>
      <h2 class="mat-h2">
        For Accurate and Robust FEM Simulations
      </h2>
      </div>
    </div>
  </div>
  <div class="main-page">
    <div class="main-elem-row">

      <div class="main-elem-col">
       <h2>
         High Quality
       </h2>
       <p>
        Internationalized and accessible components for everyone. Well tested to ensure performance and reliability.
       </p>
       <p>
        Straightforward APIs with consistent cross platform behaviour.
       </p>
      </div>

      <div class="main-elem-col">
       <h2>
         Versatile
       </h2>
       <p>
        Internationalized and accessible components for everyone. Well tested to ensure performance and reliability.Provide tools that help developers build their own custom components with common interaction patterns.
       </p>
       <p>
        Customizable within the bounds of the Material Design specification.
       </p>
      </div>

      <div class="main-elem-col">
       <h2>
         Frictionless
       </h2>
       <p>
        Built by the Angular team to integrate seamlessly with Angular.
       </p>
       <p>
        Start from scratch or drop into your existing applications.
       </p>
      </div>

    </div>
    <mat-divider></mat-divider>
  </div>
</div>
