<div fxFlex class="main-content">
  <div class="main-header">
    <div class="main-header-section">
      <div class="main-header-headline">
      <h1 class="mat-h1">
        FeatFloWer
      </h1>
      <h2 class="mat-h2">
        For Accurate and Robust FEM Simulations
      </h2>
      </div>
    </div>
  </div>
  <div class="main-page">
    <div class="main-elem-row">

      <div class="main-elem-col">
       <h2>
         High Accuracy
       </h2>
       <p>
        The FeatFloWer software package uses higher order FEM schemes to achieve accurate results. Using unstructured meshes with
        (dynamic) mesh adaptation can further increase simulation accuracy.
       </p>
       <p>
        The core solver for the flow equations is based on a Newton-Multigrid approach.
       </p>
      </div>

      <div class="main-elem-col">
       <h2>
         Versatile Flow Models
       </h2>
       <p>
        Besides the generalized Newtonian fluid model, our software supports non-Newtonian power-law, Carreau and visco-elastic models
       </p>
       <p>
        Multiphase models can be used to model different liquid-liquid configurations or liquid-solid flows.
       </p>
      </div>

      <div class="main-elem-col">
       <h2>
        Extensive Validation
       </h2>
       <p>
        In a continuous benchmarking effort we test the software with well-known
        benchmark configurations and flow problems.
       </p>
       <p>
        Results and reference data are available for Newtonian and Non-Newtonian configurations,
        multi-phase problems and sedimentation problems with solid particles.
       </p>
      </div>

    </div>

    <mat-divider></mat-divider>

    <h2>Featured Benchmarks</h2>
    <div class="main-elem-row">
      <div class="main-elem-col">
       <div class="image-container">
       <a routerLink="/benchmarks/fac3">
         <img src="assets/fac-car.png" alt="FAC Image">
       </a>
       </div>
       <h3 class="mat-h3">
        Flow Around A Cylinder
       </h3>
      </div>

      <div class="main-elem-col">
       <div class="image-container">
       <a routerLink="/benchmarks/bubble3">
         <img src="assets/bench2d.png" alt="Droplet Image">
       </a>
       </div>
       <h3 class="mat-h3">
         Rising Bubble
       </h3>
      </div>

      <div class="main-elem-col">
       <div class="image-container">
       <img src="assets/particle.png" alt="Particle Image">
       </div>
       <h3 class="mat-h3">
       Particle Sedimentation
       </h3>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="main-elem-row">
      <div class="main-elem-col">
       <div class="logo-container">
       <img src="assets/tudo_small.png" alt="TUDO Logo">
       </div>
      </div>
      <div class="main-elem-col">
       <div class="logo-container">
       <img src="assets/ls3-trans-col.gif" alt="LS3 Logo">
       </div>
      </div>
      <div class="main-elem-col">
       <div class="image-container">
       <img src="assets/yt-logo.png" alt="YouTube Channel">
       </div>
      </div>
    </div>
  </div>
</div>
