/*
 You can add global styles to this file, and also import other style files
 background-color: #3f51b5;
  --primary-bg-color: #c2185b;

  500: #8bc34a,
 */

:root {
  --primary-bg-color: #8bc34a;
  --primary-text-color: rgba(0, 0, 0, 0.87);
  --dark-theme-background: #303030;
}

html, body { height: 100% }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px #707070;
    background: white;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: blud;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: grey;
}

*
 {
        margin-top: 0;
  }

.main-content {
  padding-top: 64px;
}
