/*
 You can add global styles to this file, and also import other style files
 background-color: #3f51b5;
  --primary-bg-color: #c2185b;

  500: #8bc34a,
 */

@use 'sass:map';
@use '@angular/material' as mat;
@use '@angular/material/_theming';

@include mat.core();
@import 'src/my-theme.scss';

/*
$app-primary: mat.define-palette(mat.$pink-palette);

$app-accent: mat.define-palette(mat.$blue-gray-palette);

$my-theme: mat.define-dark-theme((
  color: (
    primary: $app-primary,
    accent: $app-accent,
  )
));

*/
$color-config: mat.get-color-config($my-theme);

// Get the primary color palette from the color-config.
$primary-palette: map.get($color-config, 'primary');
$my-primary-color: mat.get-color-from-palette($primary-palette, 500);


$text-dark1: #ffffffb3;
$text-dark2: rgb(170, 170, 170);
:root {
  --primary-bg-color: #8bc34a;
//  --primary-text-color: #ffffffb3;
  --primary-text-color: rgba(0, 0, 0, 0.87);
  --dark-theme-background: #303030;
}

html, body { height: 100% }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: var(--dark-theme-background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px #707070;
    background: white;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: blud;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: grey;
}

*
 {
        margin-top: 0;
  }

.main-content {
  padding-top: 64px;
}

.mat-h1 {
font-size: 70px;
line-height: 70px;
font-weight: 400;
}

.mat-h2 {
font-weight: 300;
}

.mat-h3 {
font-weight: 400;
font-size: 18px;
}

.my-h4 {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 450;
}

h3 {
  font-weight: 450;
}

h4 {
  font-weight: 400;
}

h5 {
  font-weight: 400;
}

strong {
  font-weight: 400;
}


th {
  font-weight: 400;
}

.text-wrapper {
    padding: 20px 10px 10px 10px;
    text-align: justify;
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.5;
    font-size: 16px;
}

.table-wrapper {
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.im-div {
  text-align: center;
}

.definition-wrapper {
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.equation-wrapper {
text-align: center;
margin-top: 10px;
margin-bottom: 10px;
}

.definition-heading {
margin-bottom: 8px;
font-style: italic;
color: $text-dark2;
}

.heading-wrapper {
  text-align: center;
}

.plot-wrapper {
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
}

.plot-wrapper-ex {
  width: 700px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
}

.plot-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.plot-margin {
  margin: 0 10px;
}

a {
  color: $text-dark1;
  text-decoration: none;
}
