/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.myfixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

mat-toolbar {
  padding: 0px;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2);
}

.nav-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;
}

.flex-spacer {
  flex-grow: 1;
}
